.modalContainer {
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 334 !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.modalContainer > * {
  z-index: 335 !important;
}

.hm_hyperModalWrapper {
  background-color: rgba(0, 0, 0, 0.651);
  z-index: 9999999 !important;
}
.hm_hyperModalWrapper .hm_hyperModalContentWrapper {
  width: max-content !important;
  height: max-content !important;
  animation: zoomIn 0.3s ease-in-out !important;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.3);

  }
  100% {
    transform: scale(0.3);

  }
}
