.modalContainer {
  background-color: rgba(0, 0, 0, 0.692);
  z-index: 334 !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.modalContainer > * {
  z-index: 335 !important;
}
.react-responsive-modal-closeButton {
  display: none !important;
}
.react-responsive-modal-modal  {
  background-color: var(--bg-indigo-100);
  background-color: inherit!important;
  overflow: hidden!important;

}
